<div class="flex-col gap-3 container">
  <h1>PORTFOLIO WEBSITE</h1>
  <div class="flex-col gap-3">
    <a class="btn btn-primary td-none" href="/users/sign-in">Log In</a>
    <a class="btn btn-primary td-none" href="/users/sign-up">Sign Up</a>
  </div>
</div>
