<div class="container flex-col gap-3 jcc aic">
  <h1>This is profile</h1>
  <h3><%= user_name %></h3>
  <h3><%= user_email %></h3>
  <div>
    <a href="/users/sign-out" class="btn-primary btn td-none">Sign out</a>
  </div>
</div>
