<form action="/users/create-user" method="post">
  <h1 class="tc">Sign Up</h1>
  <input name="name" required type="text " placeholder="Your name" />
  <input name="email" type="email" placeholder="Your email" />
  <input name="password" type="password" placeholder="password" />
  <input
    name="confirm_password"
    type="password"
    placeholder="confirm password"
  />
  <button type="submit">SIgn Up</button>
</form>
