<form action="/user/create-user">
  <h1 class="tc">Sign Up</h1>
  <input type="text " placeholder="Your name" />
  <input type="email" placeholder="Your email" />
  <input type="password" placeholder="password" />
  <input type="password" placeholder="confirm password" />
  <button type="submit">SIgn Up</button>
</form>
