<form action="/">
  <h1 class="tc">Sign In</h1>
  <input type="text " placeholder="Your name" />
  <input type="email" placeholder="Your email" />
  <input type="password" placeholder="Your password" />
  <button type="submit">Log in</button>
</form>
