<div class="container flex jcc aic minh-100">
  <div class="container-fluid flex-col gap-3 jcc aic">
    <h1 class="bold-text"><%= message %></h1>
    <a class="btn-primary btn td-none" href="<%= link %>">link_name</a>
  </div>
</div>
